# Data transformation

In [3]:
%load_ext autoreload
%matplotlib inline

In [4]:
# always reload modules marked with "%aimport"
%autoreload 1

In [5]:
import os
import sys

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), os.pardir, os.pardir,'src')
sys.path.append(src_dir)

In [6]:
%aimport features.helpers
from features.helpers import load_data
from features.helpers import save_data
from features.helpers import norm_data
from features.helpers import encode_cat_data
from features.helpers import set_index_to_date
from features.helpers import save_pandas
from features.helpers import plot_data
from features.helpers import MultiColumnLabelEncoder

#parse time
from datetime import datetime
import pandas as pd
from pandas import DataFrame
from pandas import concat

/Users/bbuildman/anaconda3/envs/python2/lib/python2.7/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [7]:
# visualisation

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid", color_codes=True)
# Set context to `"paper"`
sns.set_context("paper", font_scale=2)

In [277]:
# convert string into a date object
import time
import datetime as dt
from datetime import datetime

def dateconvert(Start_date):
    try:
        Start_date = int(Start_date)  
        Date_String = str(Start_date)
        dateconv = dt.datetime.strptime(Date_String,'%YYYY-%mm-%dd').strftime('%d/%m/%Y')
        return  dateconv
    except ValueError:
        return Start_date #or '' or whatever you want to return for NULL

In [278]:
processed_dir = os.path.join(os.getcwd(),os.pardir, os.pardir,'data')
input_filepath = processed_dir + "/processed/001-BB-CDC_ILI_2010-2015_US_STATES-DATA_processed.csv"
output_filepath = processed_dir + "/interim/001-BB-CDC_ILI_2010-2015_US_STATES-DATA_interim.pickle"

#load stored data
%store -r preprocess_data
%store -r group_df
%store -r ili_h1
#df = load_data(input_filepath)

## At what is the best temperature for influenza

In [279]:
df = ili_h1
df = df.dropna(how='any')
cols_to_drop = ['index','week_TEMP']
df.drop(cols_to_drop, 1, inplace=True)
df.head()

  STATE  YEAR  MONTH  WEEK ili_activity_label  a_h1   Latitude   Longitude
0    AK  2011      1     1            Level 1     0  61.370716 -152.404419
1    AK  2011      1     2            Level 2     0  61.370716 -152.404419
2    AK  2011      1     3            Level 3     0  61.370716 -152.404419
3    AK  2011      1     4            Level 2     0  61.370716 -152.404419
4    AK  2011      1     5            Level 5     0  61.370716 -152.404419

## LSTM Data Preparation

In [290]:
df.head()

  STATE  YEAR  MONTH  WEEK ili_activity_label  a_h1   Latitude   Longitude
0    AK  2011      1     1            Level 1     0  61.370716 -152.404419
1    AK  2011      1     2            Level 2     0  61.370716 -152.404419
2    AK  2011      1     3            Level 3     0  61.370716 -152.404419
3    AK  2011      1     4            Level 2     0  61.370716 -152.404419
4    AK  2011      1     5            Level 5     0  61.370716 -152.404419